src/main/resources/countries.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="countries"
           targetNamespace="countries" elementFormDefault="qualified">

    <!-- Описание типа Country -->
    <xs:complexType name="country">
        <xs:sequence>
            <xs:element name="id" type="xs:string" minOccurs="0"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="code" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Запрос для getAllCountries -->
    <xs:element name="getAllCountriesRequest" type="xs:anyType"/>

    <!-- Ответ getAllCountries -->
    <xs:element name="getAllCountriesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="countries" type="tns:country" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Запрос addCountry -->
    <xs:element name="addCountryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="country" type="tns:country"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Ответ addCountry -->
    <xs:element name="addCountryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="country" type="tns:country"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Запрос updateCountryName -->
    <xs:element name="updateCountryNameRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="country" type="tns:country"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Ответ updateCountryName-->
    <xs:element name="updateCountryNameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="country" type="tns:country"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>